

.custom-navbar {
    background-color: #FFFCEB; /* Matches the beige background in your design */
    padding: 10px 20px;
  }
  
  .navbar-items {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto; /* Push items to the right */
  }
  
  .non {
    display: flex; 
    align-items: center; 
    gap: 20px;
    margin-right: 450px; 
    
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust this value as needed */
  margin-right: auto; /* This will push the group to the left */
  margin-left: -20px; /* Adjust for spacing from other elements */
}


.navbar-text {
    color: #555;
    font-size: 14px;
}



  .navbar-search {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 9px;
    border: 0.7px solid #5D5D5D;
  }
  
  .navbar-icon {
    font-size: 18px;
    margin-right: 15px;
    color: #555;
  }
  
  .btn-danger {
    width: auto;
    height: 44px;
    border-radius: 8px;
    background: #EB4C37;
    border: none;
    padding: 0 15px; 
  }
  
  .btn-success {
    height: 44px;
    border-radius: 8px;
    background: #467966;
    border: none;
    margin-left: -10px;
    width: auto;
    padding: 0 15px; 
  }
  